body {
width: 80vw;
font-family: sans-serif;
}
.books {

}
.header {
    margin-left: 20px;
}
.books_book {
    margin: 20px;
    padding: 20px;
    float: left;
    background-color:#D3D3D3;
    width: 75%;

}
.books_book img {
    height: 120px;
    float: left;
    padding: 10px;
}
.books_book span {
    display: block;
    padding: 5px;
}
